.agenda_container{
    .agenda_wrapper{
        .agenda_content{
            display: flex;
            flex-direction: row;
            width: fit-content;
            height: fit-content;
            justify-content: center;
            width: -webkit-fill-available;
            .calendar_date{
                .cjslib-calendar{

                    .cjslib-year{
                        width: 100%;
                    }
                    .cjslib-month{
                        width: 100%;

                    }

                }
            }
            .calendar_event{
                .cjslib-calendar{
                    .cjslib-events{
                        border: none;
                    }
                    .cjslib-date{
                        width: 100%;
                    }
            }}
        }
    }
}
